{% extends 'base.html' %} {% load static %} {% block content %}

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-dark">마이페이지(My Page)</h6>
  </div>
  <div class="card-body">
    <div>
      <p>이름(name): {{user.name}}</p>
      <p>계열(college): {{user.college}}</p>
      <p>학번(studentID): {{user.studentID}}</p>
      {% if user.accepted %}
      <p>학교인증(accepted): 완료</p>
      {% else %}
      <p>학교인증(not accepted): 미완료</p>
      {% endif %}
      <p>학점(gpa): {{user.gpa}}</p>
      <p>학점전체(gpa_all): {{user.gpa_all}}</p>
      <p>모의지원학과(major): {{user.major}}</p>
    </div>
    <a href="{% url 'editmypage' %}">
      <button class="btn btn-secondary">수정(EDIT)</button>
    </a>
  </div>
</div>

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-dark">수강한 과목(Taken Classes)</h6>
  </div>
  <div class="table-responsive">
    <table
      class="table table-bordered"
      id="dataTable"
      width="100%"
      cellspacing="0"
    >
      <thead>
        <tr>
          <th width="40%">과목명(Name)</th>
          <th>구분(Type)</th>
          <th>평점(Point)</th>
          <th>성적(Score)</th>
          <th>수정(Edit)</th>
          <th>삭제(Delete)</th>
        </tr>
      </thead>
      <tbody>
        {% for lecture in lectures %}
        <tr>
          <td>{{lecture.title}}</td>
          <td>{{lecture.lecture_type}}</td>
          <td>{{lecture.point}}</td>
          <td>{{lecture.score}}</td>
          <td>
            <a href="{% url 'edit_lecture' lecture.id %}">
              <button class="btn btn-secondary">수정하기 (Revise)</button></a
            >
          </td>
          <td>
            <a href="{% url 'delete_lecture' lecture.id %}">
              <button class="btn btn-secondary">
                삭제하기 (Delete Lecture)
              </button></a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot></tfoot>
    </table>
    <div style="display: flex; flex-direction: row; height: 50px; width: 100%">
      <a href="{% url 'add_lecture' %}" style="margin-left: 20px">
        <button class="btn btn-secondary">추가하기 (Add Lecture)</button>
      </a>
      <a href="{% url 'apply_score' %}" style="margin-left: 20px"
        ><button class="btn btn-secondary">점수 반영 (Apply Score)</button></a
      >
    </div>
  </div>
  {% endblock %}
</div>
